<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd">
               
	<bean id="propSource" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" scope="singleton">
	   <property name="locations">
	    <list>
	         <value>classpath:local.conf</value>
	    </list>
	  </property>
	</bean>
		              
    <bean id="soakConfig" class="com.intel.soak.config.SoakConfig" scope="singleton">
        <property name="configSource" value="local.conf"/>
        <property name="localMode" value="true"/>
    </bean>
</beans>
